.education_container {
  padding: 1em 2em 1em 1em;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.4),
    inset 0.05em 0.05em rgba(255, 255, 255, 1);
  text-align: left;
}

.education_container h4 {
  margin: 0;
}

.education_container em {
  margin: 0;
}

.education_container {
  color: #1E2022;
  transition: ease-in-out 0.4s;
}