/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/*tag selectors here...*/
body {
    margin: 0;
    padding: 0;
    background-color: #D8D9DA;
    position: relative;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behaviour: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1{
    padding:0;
    margin:0;
}
p {
    padding:0;
    margin:0;
}
/*Section related stuff*/
section:nth-child(even) {
    background-color: white;
}
section {
    padding: 3vh 0;
    box-sizing: border-box;
    min-height: fit-content;
}
a {
    text-decoration: none;
}
footer {
    margin: 0;
    padding: 0; 
    position: relative;
    bottom: 0;
}
#socials_bottom li {
    padding-left: 20px;
}
.navbar-nav {
    text-align: right;
}
.navbar-collapse.show {
    right: 0;
    /* Show the menu by moving it to the right */
}
@media (max-width: 576px) {
    .navbar-nav {
        position: relative;
        right: 0 !important;
    }
}