/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#test {
    text-align: center;
}
/*tag selectors here...*/
body {
    background-color: #f0f7ff;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behaviour: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
}
h1{
    padding:0;
    margin:0;
}
p {
    padding:0;
    margin:0;
}
/*Section related stuff*/
section {
    /* padding-top: 4vh; */
    /* height: 96vh; */
    /* margin: 0 10rem; */
    box-sizing: border-box;
    min-height: fit-content;
}
.section-container{
    display: flex;
}

/*Profile-section*/
#profile {
    display: flex;
    justify-content:center;
    gap: 5rem;
    /* height: 80vh; */
}
.section__pic-container {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}
.section__text{
    align-self: center;
    text-align: center;
}
.section__text p {
    font-weight: 600;
}
.section-text__p1 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title {
    /* font-size: 3rem; */
    /* text-align: center; */
}

/*Navbar section*/
.navbar-nav {
    text-align: right;
}
.navbar-collapse.show {
    right: 0;
    /* Show the menu by moving it to the right */
}

/* .cards {
    background-color: cyan;
} */
#personal_projects {
    background-color: black;
    padding: 3vh 0;
}
.service-thumb {
    margin-right: 20px;
    margin-bottom: 20px;
    display: grid;
    background: cyan;
    border-radius: 5px;
    padding: 42px 22px;
    cursor: crosshair;
    position: relative;
    top: 0;
    transition: ease-in-out 0.4s;
}
.service-thumb:hover {
    background-color: white;
}

@media (max-width: 576px) {
    .navbar-nav {
        position: relative;
        right: 0 !important;
    }
}